*{
    margin: 0;
    padding: 0;
    color:black ;
    text-decoration: none;
    }

/* body{
    background-image: url('../media/Pattern_1.jpg'); 
}*/
.seite{
    border: 1px solid black;
    width: 500px;
    height: 600px;
    }

.block1{
    width: 500px;
    height: 150px;
    border-bottom: 1px solid;
    background-image: url('../media/Pattern.jpg');
    
}
.block2{
    width: 460px;
    height: 449px;
    background-color: lightskyblue;
    line-height: 50px;
    padding: 20px;
}
.hovered1{
    color: blue;
    }
.hovered2{
    color: red;
    text-decoration: underline;
}
.hovered3{
    color: black;
}

.hovered1:hover{
    color: green;
text-decoration: underline;
}
.hovered2:hover{
    color: blue;
text-decoration: line-through;
}
.hovered3:hover{
    color: red;
text-decoration: overline;
}
    

